/* завдвння №1 */
/* #color-green {
    color: green;
    } */

   

   
   /* завдвння №2 */
    /* .red-color{
        color: #f00;
    }

    #orange-color{
        color:#ff8d00;
    }

    ul + p{
        font-size: 26px;
    }

    [title]{
        border: 1px solid #067b09;
    } */



   
   /* завдвння №3 */
    /* .text-box h3:first-child{
        color: pink;
    }

    .yellow {
        color:yellow;
    }
    
    #greycol{
        color: grey;
    }

    div > div > p{
        color: red;
    }

    p:nth-child(7){
   color:green 
   } */






